* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: mc;
    overflow: hidden;
    transition: background-color 0.5s, color 0.5s;
    background-color: #000;
    color: #fff8c7;
}

@font-face {
    font-family: "mc";
    src: url("../media/mc.otf") format("opentype");
}

#landing-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s;
    z-index: 2;
}

.landing-text {
    font-size: 3em;
}
#main-content {
    display: none;
    width: 100%;
    height: 100vh;
    position: relative;
    transition: opacity 0.5s;
}

#logo {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
}
#logo img {
    width: 50px;
    height: 50px;
}
#clickable-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
#clickable-items a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 2em;
    margin: 15px 0;
    transition: color 0.3s, text-shadow 0.3s;
}
#clickable-items a:hover {
    color: #f21bc0;
    text-shadow: 0 0 10px #f21bc0;
}
#clickable-items a:active {
    color: inherit;
    text-shadow: none;
}

canvas {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
    opacity: 0.25;
}